@media screen and (min-width:30px) and (max-width:600px){
	body{
		font-size:1.4em;
		margin-top: 0;
	}
	footer{
		margin-bottom: 0;
	}
	#sustent{
		width:475px;
		height:267px;
	}

}


body{
	font-size:1.4em;
	font-family:verdana;
	margin: 0;	
}	
header{
	display:flex;
	flex-direction:row;
	justify-content:center;
	background-color:#f4ae5e;
	align-items:center;
}
#img1{
	width:100x;
	height:100x;
	margin:20px;
}
#h1top{
	margin-left:40px;
}
article{
	display:flex;
	width:auto;
	height:auto;
	align-items:center;
}
#nav{
	text-decoration:none;
	color:black;
}
#nav:hover{
	color:white;
}
section{
	text-align:justify;
	margin:20px;
}
.zero{
	text-decoration:none;
	width:auto;
	height:30px;
	display:flex;
	font-size:1.1em;
	justify-content:space-evenly;
	align-items:center;
	background-color:#00BFFF;
}
footer{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	font-size:0.7em;
	color:white;
	background-color:black;
	padding:20px;
}
form{
	padding:30px;
}
