body{
	font-family:verdana;
}

#h1top{
	width:auto;
	height:auto;
	background-color:#FF8C00;
}
a{
	text-decoration:none;
	color:black;
}
#nav:hover{
	color:white;
}
nav{
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	grid-gap:10px;
	grid-auto-rows:minimax(50px);
	width:auto;
	height:auto;
	justify-content:center;
	align-items:center;
	background-color:#00BFFF;
	
}
article{
	display:flex;
	flex-direction:;
	justify-content:center;
	align-items:center;
	
}
h5{
	margin:30px;
}
section{
	display:;
	flex-direction:;
	align-items:;
	justify-content:;
}

#img1{
	width:100px;
	height:100px;
}
