@media handheld and (min-width:250px) and (max-width:600px){
	body{
		font-size:1.6em;
	}
}
body{
	font-family:verdana;	
}	
header{
	display:flex;
	flex-direction:row;
	justify-content:center;
	background-color:#f4ae5e;
	align-items:center;
}
#img1{
	width:100x;
	height:100x;
	margin:20px;
}
#h1top{
	margin-left:40px;
}
article{
	display:flex;
	width:auto;
	height:auto;
	align-items:center;
}
#nav{
	text-decoration:none;
	color:black;
}
#nav:hover{
	color:white;
}
.zero{
	text-decoration:none;
	width:auto;
	height:30px;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	background-color:#00BFFF;
}
#imgs{
	width:auto;
	display:flex;
	flex-direction:rows;
	justify-content:space-evenly;

}

#imag{
	display:flex;
	margin-right:20px;
}
footer{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	font-size:13px;
	color:white;
	background-color:black;
}
